@import "tailwindcss";

@theme {
  /* Регистрация анимации */
  --animate-shimmer-pulse: shimmer 3s infinite linear, pulse-size 2s infinite ease-in-out;

  /* Описание ключевых кадров */
  @keyframes shimmer {
    from { background-position: 0% 50%; }
    to { background-position: 200% 50%; }
  }
  @keyframes pulse-size {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
  }
}

@theme {
  --font-sans: "Noto Sans", "Noto Sans Arabic", "Noto Sans SC", sans-serif;
}

/* Указываем Tailwind, где искать классы в файлах Vue */
@source "./src/**/*.{vue,js,ts,jsx,tsx}";

